/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/.vs/
/.idea/
/.vscode/
*.csproj.user
*.sln
/*.csproj
*.pidb
*.booproj
*.userprefs
*.log
*.tmp
**/bin/
**/obj/
.DS_Store
.env
.env.*
/Artifacts/
